@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $text-overpass-font;
  font-size: $text-size;
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height: 500px;
  padding: 50px;
  background-image: url("../images/bg-pattern-intro.svg"),
    linear-gradient(to right, $very-light-red 15%, $cta-text-color 47%);
  background-repeat: no-repeat;
  background-size: 175%;
  background-position: 20% 53%;
  border-bottom-left-radius: 75px;
  color: $text-white-color;
  z-index: 1;

  .nav-items {
    font-family: $text-ubuntu-font !important;
    @include set-flex(space-between, center);
    @include set-max-width(1000px);
    margin: 0 auto;
  }

  .brand-and-items {
    @include set-flex(space-between, center);
    @include set-max-width(480px);
  }

  .about-items {
    @include set-flex(space-between, center);
    @include set-width(350px);
    cursor: pointer;
    margin-left: 45px;

    @media only screen and (max-width: 800px) {
      @include set-width(280px);
      margin-left: 20px;
    }
  }

  .auth-items {
    @include set-flex(space-between, center);
    @include set-width(180px);
  }
  .item-name {
    margin-right: 5px;
  }

  .menu-container {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .nav-items {
      max-width: 700px;
      margin: 0 auto;
    }

    .auth-items {
      width: 130px;
      .sign-up-btn {
        padding: 10px 15px;
        font-size: 13px;
      }
    }
  }

  @media only screen and (max-width: 650px) {
    .about-items,
    .auth-items {
      display: none;
    }

    .menu-container {
      display: block;
    }

    #btnControl {
      display: none;
    }

    #btnControl:checked + label > img {
      display: block;
      cursor: pointer;
      content: url("./../images/icon-close.svg");
    }
  }

  hr {
    border: 0.1px solid rgb(230, 230, 230);
  }

  .menu-items-card {
    position: absolute;
    display: none;
    min-height: 350px;
    border-radius: 7px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background: white;
    color: black;
    min-width: 280px;
    max-width: 425px;
    left: 20%;
    right: 20%;
    top: 25%;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;

    .btn-cont {
      @include set-flex(center, center, column);
      padding: 20px;
      button {
        border: none;
        outline: none;
        cursor: pointer;
      }
      .login {
        background: none;
        font-weight: 800;
        margin-bottom: 25px;
      }

      .sign-up {
        padding: 9px 15px;
        border-radius: 15px;
        background: linear-gradient(to right, #ff8f70 15%, #ff525d 47%);
        font-weight: 600;
        color: $text-white-color;
      }
    }

    .sub-options {
      display: none;
    }

    .option-cont .option {
      cursor: pointer;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 31px;
      text-align: center;
      font-weight: 600;

      .sub-options {
        margin-top: 20px;
        ul {
          background: rgba(224, 224, 224, 0.4);
          padding: 20px;

          li {
            margin-bottom: 10px;
            color: rgba(0, 0, 0, 0.5);

            &:hover {
              cursor: pointer;
              color: rgba(0, 0, 0, 1);
            }
          }
        }
      }
    }

    @include set-very-small-screen {
      left: 10%;
      width: 150px;
      margin: 0 auto;
    }

    @media only screen and (max-width: 310px) {
      padding: 20px 10px !important;
    }
  }

  #btnControl:checked + label + .menu-items-card {
    display: block;
    opacity: 1;
    z-index: 999;
    padding: 30px;
  }
}

.menu-icon {
  cursor: pointer;
}

.option:hover {
  .sub-options {
    display: block;
  }

  .option-arrow-container img {
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
  }
}

.dropdown-item:hover .item-options {
  z-index: 1000;
  display: block;
}

.dropdown-item:hover .dropdown-arrow-container img {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}

@include set-desktop-screen {
  .dropdown-item .item-options {
    display: none;
    position: absolute;
    padding: 20px 20px 10px;
    border-radius: 5px;
    background: white;
    color: black;
    margin-top: 15px;

    li {
      margin-bottom: 15px;
      &:hover {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .dropdown-item::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 100px;
    top: 13%;
    opacity: 0;
    background-color: $text-white-color;
    border: 1px solid crimson;
  }
}

.login-btn {
  color: $text-white-color;
  border: none;
  background: none;
  @include lighten-text;
  @include set-cursor-opacity(1);
}

.sign-up-btn {
  @include white-red-btn;
  padding-left: 25px;
  padding-right: 25px;
}

.brand-name {
  margin-bottom: 10px;
}

.hero-heading {
  padding-top: 90px;
  font-size: 45px;

  @include set-medium-screen {
    font-size: 35px;
  }

  @include set-small-screen {
    text-align: center;
    font-size: 28px;
  }
  @include set-very-small-screen {
    font-size: 25px;
  }
}

.hero-content {
  @include set-flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  p {
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 35px;

    @include set-small-screen {
      text-align: center;
    }
  }
}

.main-btn {
  @include set-flex(center, center);
  button {
    margin-right: 10px;
  }
  .white-btn {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
  .trans-btn {
    @include white-red-btn;
    background: none;
    border: 2px solid white;
    color: white;
  }

  @include set-very-small-screen {
    font-size: 13px;
    max-width: 230px;
    margin: 0 auto;
  }
}

.section-heading {
  font-size: 35px;
  color: $heading-color;
  text-align: center;
  margin-top: 125px;

  @media only screen and (max-width: 400px) {
    font-size: 25px;
    margin-top: 100px;
  }

  @include set-very-small-screen {
    font-size: 23px;
    margin-top: 75px;
  }
}

.section-one {
  @include set-flex;
  margin-bottom: 75px;

  .left-card {
    flex: 0 0 58%;
    align-self: flex-start;
    padding: 100px;
  }

  .right-card {
    flex: 0 0 42%;
    img {
      @include set-block-image(150%, 150%);
    }
  }

  .card-one {
    padding-top: 10px;
  }

  .card-one,
  .card-two {
    @include set-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;

    @include set-very-small-screen {
      padding-bottom: 0;
      margin-bottom: 30px;
    }
  }

  @media only screen and (max-width: 900px) {
    .left-card {
      padding: 75px;
    }
  }

  @include set-medium-screen {
    flex-direction: column;

    .left-card {
      order: 2;
      h1 {
        text-align: center;
      }
    }

    .right-card {
      order: 1;
      img {
        content: url("./../images/illustration-editor-mobile.svg");
        margin-top: 50px;
        height: 100%;
        width: 100%;
      }
    }
  }

  @include set-small-screen {
    .left-card {
      padding: 50px;
    }
  }

  @include set-very-small-screen {
    .left-card {
      padding: 40px 40px 0px;
      p {
        text-align: center;
      }
    }
  }
}

.card-one-heading,
.card-two-heading {
  font-size: 23px;
  color: $heading-color;
  margin-bottom: 25px;
}

.card-one-content,
.card-two-content {
  color: black;
  opacity: 0.4;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 25px;
}

.section-two {
  height: 350px;
  overflow: visible;
  z-index: 2;
  margin-top: 25px;
  margin-bottom: 100px;
  @include set-flex(center, center);
  background-image: url("../images/bg-pattern-circles.svg"),
    linear-gradient(
      to right,
      $very-dark-gray-blue 20%,
      $very-dark-desaturated-blue 50%
    );
  background-repeat: no-repeat;
  background-position: -100% 80%;
  border-bottom-left-radius: 75px;
  border-top-right-radius: 75px;
  color: $text-white-color;

  .left-card {
    padding: 50px;
    flex: 0 0 50%;
    img {
      @include set-block-image(100%, 100%);
    }
  }

  .right-card {
    flex: 0 0 50%;
    padding: 70px;
    align-self: center;

    h1 {
      font-size: 26px;
    }

    p {
      opacity: 0.7;
      font-weight: 300;
    }

    .white {
      color: $text-white-color;
    }
  }

  h1 {
    font-size: 23px;
  }

  @media only screen and (max-width: 900px) {
    .left-card {
      margin: 0px;
      img {
        width: 125%;
      }
    }
  }

  @include set-medium-screen {
    flex-direction: column;
    min-height: 750px;
    background-position: 100% 200%;

    .left-card {
      padding: 0px;
      margin: 0px;
      overflow: visible;
      width: 90%;
      height: 70%;

      img {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
    }

    .right-card {
      text-align: center;
    }
  }

  @include set-small-screen {
    .right-card {
      padding: 50px;
    }
  }

  @include set-very-small-screen {
    .left-card {
      width: 100%;
      height: 40%;
    }
    .right-card {
      padding: 40px;
      overflow: hidden;
    }
  }
}

.section-three {
  @include set-flex(center, center);
  margin-bottom: 150px;
  overflow: hidden;
  .left-card {
    flex: 0 0 40%;
    img {
      // @include set-block-image(100%, 100%);
      object-fit: cover;
      object-position: -185px;
      max-width: 150%;
      margin-right: -180px;
    }

    @media only screen and (max-width: 900px) {
      img {
        max-width: 185%;
        object-position: -225px;
      }
    }
  }

  .right-card {
    flex: 0 0 60%;
    padding: 100px;

    .card-one {
      margin-bottom: 40px;
    }
  }

  @include set-medium-screen {
    flex-direction: column;
    .left-card img {
      display: block;
      content: url("./../images/illustration-laptop-mobile.svg");
      width: 100%;
      height: 100%;
      margin: 0 auto;
      object-fit: contain;
      object-position: center;
    }

    .right-card {
      padding: 70px;

      h1 {
        text-align: center;
      }
    }
  }

  @include set-small-screen {
    margin-bottom: 100px;

    .right-card {
      padding: 50px;
    }
  }

  @include set-very-small-screen {
    margin-bottom: 75px;

    .left-card img {
      width: 100%;
      height: 100%;
    }

    .right-card {
      padding: 40px 40px 0px;
      p {
        text-align: center;
      }
    }
  }
}

footer {
  background: $footer-bg-color;
  min-height: 330px;
  padding: 75px 0px;
  color: $text-white-color;
  border-top-right-radius: 75px;

  .footer-container {
    @include set-flex(space-evenly, flex-start);
    max-width: 1000px;
    margin-left: 50px;

    img {
      @include set-block-image(35px, 90px);
    }

    li:hover {
      @include set-cursor-opacity;
      text-decoration: underline;
    }

    @include set-medium-screen {
      max-width: 90%;
      margin: 0 auto;
    }

    @include set-small-screen {
      @include set-flex(center, center, column);
      max-width: 85%;
      margin: 0 auto;

      img {
        margin-bottom: 30px;
      }

      .col {
        margin: 25px 0;
      }
    }
  }

  h4 {
    margin-bottom: 25px;
  }

  li {
    margin-bottom: 9px;
    font-size: 14px;
    opacity: 0.6;
  }
}

.attribution {
  text-align: center;
  padding: 15px;
  color: $very-dark-gray-blue;
  font-weight: 800;
  line-height: 2;

  a {
    color: $cta-text-color;
  }
}

.hover-state {
  &:hover {
    background: rgba(255, 255, 255, 0.3);
    color: $text-white-color;
  }
}

.trans-btn.hover-state {
  &:hover {
    @include white-red-btn;
  }
}
